:root {
  --green: #009879;
  --white: #fff;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /* 16px * 62.5 = 10px = 1rem */
}

h2 {
  font-size: 1.5rem;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  text-align: center;
}

.input {
  padding: 1rem 2rem;
  border: 0.2rem solid var(--green);
  border-radius: 0.5rem;
}

.main {
  width: 100%;
  max-width: 160rem;
  border: 0.2rem solid var(--green);
  border-radius: 0.5rem;
}

.div-table {
  display: flex;
  flex-direction: column;
}

.div-table-row {
  display: flex;
  justify-content: space-between;
  border-top: 0.2rem solid var(--green);
  transition: color 0.4s ease-in-out, background-color 0.4s ease-in-out;
}

.div-table-row:first-child {
  border-top: none;
}

.div-table-row:hover {
  background-color: #00745d;
  color: var(--white);
}

.div-table-row.top .div-table-col {
  background-color: var(--green);
  color: var(--white);
}

.red {
  color: red;
}

.div-table-col {
  font-size: 1.5rem;
  padding: 10px;
  width: 100%;
  word-break: break-all;
}

.col-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-left: 0.2rem solid var(--green);
}

.col-block:first-child {
  border-left: none;
}

.col-block > div:first-of-type {
  display: none;
  font-weight: bold;
  font-size: 2rem;
}

@media (max-width: 421px) {
  .div-table-row.top {
    display: none;
  }

  .div-table-row {
    flex-direction: column;
    border-left: none;
  }

  .div-table-col {
    border-left: none;
  }

  .col-block {
    border-left: none;
  }

  .col-block > div:first-of-type {
    display: flex;
    border-left: none;
  }
}
